<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <%- include('navBar') %>
  <h2>Login</h2>
  <br>
  <% if (message && message.length > 0) { %>
    <div class="flash-message" style="text-align: center;">
      <% if (message[0].type === 'success') { %>
        <p style="color: green;">
          <%= message[0].text %>
        </p>
      <% } else { %>
        <p style="color: red;">
          <%= message[0].text %>
        </p>
      <% } %>
    </div>
  <% } %>

  <br>
  <form method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>
  </form>

  <a href="/register">Don't have an account? Register here</a>
</body>
</html>
