<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <%- include('navBar') %>
  <h2>Login</h2>
  <br>
  <% if (message && message.length > 0) { %>
    <div class="flash-message-container">
      <div class="flash-message <%= message[0].type %>">
        <p>
          <%= message[0].text %>
          <span class="close-btn" onclick="this.parentNode.parentNode.style.display='none';">&times;</span>
        </p>
      </div>
    </div>
  <% } %>
  <br>
  <form method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>
  </form>

  <a href="/register">Don't have an account? Register here</a>
</body>
</html>
