<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <%- include('navBar') %>
  <h2>Register</h2>
  <form method="POST" action="/register">
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Register</button>
  </form>
  <a href="/login">Already have an account? Login here</a>
</body>
</html>
